
@layer base {
  body {
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(#446969, #23dfb6, #446969);
    background-color: #446969;
    margin: 10;
  }

  h2 {
    text-align: center;
    font-size: 30px;
    color: aquamarine;
    padding: 10px;
  }
}


@layer header {
  /* Header styling */
  .grid-header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: rgb(74, 182, 167);
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .grid-header h2 {
    justify-self: start;
    padding-left: 50px;
  }

    /* Header styling */

  .grid-header nav {
    justify-self: end;
    padding-right: 50px;
  }

  
}
  @layer component {
  /* Project Article component styling */
  .grid-articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  .grid-article-item {
    display: flex;
    flex-direction: column;
    justify-content: top;
    border-radius: 10px;
    background-color: #a8e9cb;
    text-align: center;
    padding: 20px;
  }

  /* List styling */
  .list {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
  }

  .list-item {
    display: flex;
    flex-direction: column;
    justify-content: top;
    border-radius: 10px;
    background-color: #a8e9cb;
    text-align: center;
    padding: 20px;
  }

  ul li {
    display: inline;
    margin: 5px;
  }

  ul li a:hover {
    color: beige;
  }

  ul li a {
    color: aquamarine;
    font-size: 1.25em;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }

  /* Form styling */
  input[type="text"],
  input[type="url"],
  input[type="file"] {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }

  /* Button styling */
  .submitbutton {
    color: hsl(170, 100%, 80%);
    font-size: 15px;
    border-radius: 10px;
    border: 1px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(1, 154, 165);
    transition: all 0.1s ease-in-out;
  }

  .submitbutton:hover {
    background-color: rgb(3, 221, 236);
    color: hsl(169, 100%, 92%);
    box-shadow: 0 5px 15px rgba(15, 158, 127, 0.4);
  }

  /* Component outer styling */
  .componentcard {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin: 10px auto;
    margin-top: 5rem;
    padding: 20px;
    background-color: #28a09a;
    border-radius: 10px;
    width: 70%;
  }

  footer {
    margin-top: 10rem;
    text-align: center;
  }
}

